<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script defer src="./Queue.js" ></script>
    <script defer src="./Sortable-master/Sortable.js"></script>
    <script defer src="./Draggable.js"></script>
    <link rel="stylesheet"  href="Styles.css">
    <title>DJ Main Page</title>
</head>
<body>
<div id="app">
    <p>DJ {{ djName }}</p>
    <p>Now Playing:
        <song v-bind:title="queue[0][0]"
                          v-bind:artist="queue[0][1]">
        </song>
    </p>
    <button v-on:click="queue.splice(0,1)">Next Song</button>
    <h4>Up Next</h4>
    <div id="queue" class="list-group col">
        <song v-show="queue.length > 1"
              v-for="song in queue" v-if="song!=queue[0]"
              v-bind:title="song[0]"
              v-bind:artist="song[1]"> </song>
    </div>

</div>
</body>
</html>