html {
  height: 100%;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
}
body {
    height: 99%;
    width: 100%;
    margin: 0 0 0 0;
}

h1 {
    height: 1%;
    width: 100%;
    font-style: bold;
    font-size: 70px;
    color: #d1d1d1;
    margin-top: 0px;
    margin-bottom: 12%;
  }

h2{
  font-size: 50px;
  font-weight: bold;
  margin-left: 4%;
  color: #587ad8;
}

.clearbutton{
  font-size:25px;
  font-style: normal;
  float: right;
  width: 120px;
  height: 50px;
  border-radius: 35px;
  background: #272727;
  color: #a7a7a7;
  cursor: pointer;
  margin-top: -90px;
  margin-right: 25px
}

.cleartext{
  color: #a7a7a7;
  margin-left: 12px;
  margin-top: 9px;
  float:left;
}

#profile{
  margin-top: 20px;
  margin-right: 8px;
  float: right;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: #272727;
  cursor: pointer;
}

#profpic{
  margin-top: 7px;
  margin-left: 7px;
  height:38px;
  width:39px;
  float:left;
  border-radius: 50%;
}

#username{
  float: right;
  font-style: normal;
  font-size: 38%;
  margin-top: 10px;
  margin-right: 20%;
  color: #a7a7a7;
}

#logo {
  height: 50px;
  width: 62px;
  margin-right: 12px;
  margin-left: 25px;
}

#searchbutton{
  position: relative;
  top: 9px;
  margin-left: 10%;
  margin-right: -45px;
  height: 30px;
  width: 30px;
}

#sidebarbutton{
  margin-left: 20px;
  margin-bottom: 2px;
  height: 50px;
  width: 70px;
  cursor: pointer;
}

.search-container {
    float: center;
}

.back_grad{
    background: linear-gradient(#303030,
     #313132 55%, #353a46 80%, #3a58a8);
  }

.oval {
    font-size: 120%;
    width: 75%;
    height: 65px;
    background: #272727;
    border-radius: 35px;
    padding-left: 45px;
    color: #d1d1d1;
    border:none;
}
ol{

  margin-left: 10%;
  counter-reset: item;
  list-style-type: none;
  color: #d1d1d1;
  width: 75%;
}

li{
  display:flex;
  height: 150px;
  width: 90%;
  border-bottom: 1px solid #a7a7a7;
  padding-left: 10px;
}

li:before{
  content: counter(item)" ";
  counter-increment: item;
  margin-top: 60px;
  font-size: 30px;
}

.songcontainer{
  height: 100%;
  width: 100%;
}

.albumart{
  height: 75px;
  width: 75px;
  margin-left: 20px;
  margin-top: 35px;
  margin-right: 20px;
  margin-bottom: 5px;
  float:left;
}

.songtitle{
  display:flex;
  margin-top: 35px;
  font-size: 35px;
  color: #d1d1d1;
}

.artist{
  font-size: 20px;
  color: #a7a7a7;
  left:15px;
}

.addbutton{
  font-size: 30px;
  height: 38px;
  width: 38px;
  float: right;
  background-color: #587ad8;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: -20px;
  margin-right: 10px;
}

.acceptbutton{
  float: right;
  font-size: 25px;
  background-color: #587ad8;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: -20px;
  margin-right: 25px;
  width: 60px;
  height: 35px;
}

.denybutton{
  float: right;
  font-size:25px;
  background-color: #212121;
  color: #d1d1d1;
  border: none;
  cursor: pointer;
  margin-top: -20px;
  margin-right: 25px;
  margin-left: -10px;
  width: 60px;
  height: 35px;
}

.requestbutton{
  float: right;
  font-size: 15px;
  background-color: #587ad8;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: -25px;
  margin-right: 20px;
  width: 100px;
  height: 35px;
}